auto-save-list
url
transient
backups
elpa
eshell
bookmarks
config.el
recentf
network-security.data
savehist
tramp*
%backup%~*
.lsp-session-v1
.DS_Store
.cache
eln-cache
straight
tree-sitter
undo
org-persist
.dap-breakpoints
.extension